/* CDash.css */

.admin-container {
    background-image: url('../../../assets/Homepage.jpeg');
    background-size: cover;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  