.feedback-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    margin: auto;
    color: green;
    margin-top: 20px;
  }
  